<template>
  <div id="d3_hook" class="styling"></div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, reactive } from 'vue'
import { xml, select, zoom, zoomIdentity, pointer, Selection, D3ZoomEvent } from 'd3'

const Drawing = defineComponent({
  setup(props, { emit }) {
    let chart: Selection<HTMLElement> = null
    let viewport: Selection<SVGElement> = null

    async function getDiagram() {
      const test = {
        external: 'https://upload.wikimedia.org/wikipedia/commons/a/a0/Circle_-_black_simple.svg',
        diagram: 'Impress_1.svg',
        diagram_complex: 'Impress_1_complex.svg',
        diagram_xml: 'Impress_1_complex.xml',
      }
      return await xml(test.diagram_complex)
    }

    function zoomed(event: D3ZoomEvent) {
      const { transform } = event
      viewport.attr('transform', transform)
    }
    const zoomHandle = zoom().scaleExtent([-5, 8]).on('zoom', zoomed)

    let last = null
    function clicked(event: Event) {
      const { x, y } = event.target.getBBox()
      event.stopPropagation()
      emit('x', x)
      emit('y', y)
      emit('r', 0)
      debugger
      if (last) {
        last.transition().style('fill', null)
      }
      last = select(this)
      last.transition().style('fill', 'hotpink')
      chart
        .transition()
        .duration(750)
        .call(zoomHandle.transform, zoomIdentity.translate(-x, -y), pointer(event, chart.node()))

      const order = event.target.dataset['slide']
      emit('update:activeSlide', order)
    }

    let slideOrder = []
    onBeforeMount(async () => {
      const d = await getDiagram()
      chart = select('#d3_hook')
      chart.node().append(d.documentElement)
      select('svg').attr('width', null).attr('height', null) // make the embedded svg responsive any rely on its viewBox
      viewport = select('svg').select('g')
      chart.call(zoomHandle)
      let slides = chart.selectAll('[data-slide]')
      slideOrder = slides.nodes().map((el) => el.dataset.slide)
      slides.on('click', clicked)
      emit('slides', slideOrder)
    })

    return {}
  },
})

export default Drawing
</script>

<style>
rect[data-slide] {
  stroke: var(--col-primary);
}
</style>
