<template>
  <h2>Slides Menu</h2>
  <ul v-if="list">
    <li v-for="(s, i) in list" :key="s" :class="{ active: active }">
      Slide No: {{ i + 1 }} <small>(order: {{ s }})</small>
    </li>
  </ul>
  <p v-else>...</p>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

const Component = defineComponent({
  props: {
    list: {
      type: Array,
    },
    active: {
      type: Number,
    },
  },
})

export default Component
</script>
