<template>
  <div class="window">
    <aside>
      <SlideMenu :slides="parent" />
      <h4>Viewport</h4>
      <p>X: {{ x }}, Y: {{ y }}, R: {{ r }}</p>
    </aside>
    <section>
      <Drawing @x="setx" @y="sety" @slides="getSlides" />
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive } from 'vue'
import Drawing from './components/Drawing.vue'
import SlideMenu from './components/SlideMenu.vue'

export default defineComponent({
  name: 'App',
  components: {
    Drawing,
    SlideMenu,
  },
  setup() {
    const x = ref(0)
    const y = ref(0)
    const r = ref(0)

    function setx(v) {
      x.value = v
    }

    function sety(v) {
      y.value = v
    }

    const parent = reactive([0])
    function getSlides(list: Array<number>) {
      parent.value = list
    }

    return {
      x,
      y,
      r,
      setx,
      sety,
      getSlides,
      parent,
    }
  },
})
</script>
<style scoped>
.window {
  display: grid;
  grid-template-columns: minmax(150px, 200px) 1fr;
}

aside {
  background: var(--col-secondary);
}
</style>
