:root {
  --col-base: #2d3047;
  --col-primary: #419d78;
  --col-secondary: #e0a458;
  --col-contrast: #c04abc;
  --col-white: #d5dad8;
}

html,
body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--col-base);
}
